
@model  List<Question>
@{
    ViewData["Title"] = "GetExamByCrsId";
}
<form method="post" class="mb-5" action="/student/ExamAnswer">
    <div class="container mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10 rounded-3 ">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom mt-5 rounded-3">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4>Select one Choice </h4>
                        </div>
                    </div>
                     @for (int i = 0; i < Model.Count(); i++)
                     {
                        <div class="question bg-white p-3 border-bottom rounded-3">
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 class="text-danger">Q@(i+1).</h3>
                                <h5 class="mt-1 ml-2 ms-2">@Model[i].QustBody</h5>
                            </div> 
                            <div class="ans ml-2">

                                @if(Model[i].QustType==1)
                                {@foreach (Choice c in Model[i].Choices)
                                {
                                <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault+@Model[i].QuesId" value="@c.ChoiceId" required id="@Model[i].QuesId">
                                            <label class="form-check-label" for="@Model[i].QuesId">@c.ChoiceBody</label>
                                </div>
                                    }
                                }
                                else
                                    {
                                     <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault+@Model[i].QuesId" id="@Model[i].QuesId" required value="1">
                                            <label class="form-check-label" for="@Model[i].QuesId">True </label>
                                    </div>
                                    <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault+@Model[i].QuesId" id="@Model[i].QuesId" value="0">
                                            <label class="form-check-label" for="@Model[i].QuesId">False </label>
                                    </div>
                                    }
                            </div>
                         </div>
                     }
                    <div class="question bg-white p-3 border-bottom align-content-center mb-5 rounded-3">
                        <input type="submit" class="btn btn-outline-dark " style="width:200px ; margin-left:35%" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>














